<div class="grid"  *ngIf="listActionIsValid">
    <div class="col-12">
        <p-toast></p-toast>
        <div class="card">
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                                            <button pButton pRipple label=" {{'new' | translate}}" icon="pi pi-plus" class="p-button-info mr-2 mb-2" (click)="openCreate()" *ngIf="createActionIsValid"></button>
                    <button [disabled]="isSelectionDisabled()" pButton pRipple label=" {{'delete' | translate}}" icon="pi pi-trash" class="p-button-danger mr-2 mb-2" (click)=deleteMultiple()  *ngIf="deleteActionIsValid"></button>
                    <button pButton pRipple label=" {{'search' | translate}}" icon="pi pi-{{findByCriteriaShow?'angle-down':'angle-right'}}" class="p-button-secondary mr-2 mb-2" (click)="this.showSearch()"></button>
                </ng-template>
                <ng-template pTemplate="right">
                    <div class="flex">
                        <p-splitButton label=" {{'export' | translate}}" icon="pi pi-download" styleClass="p-button-secondary" [model]="excelPdfButons"></p-splitButton>
                    </div>
                </ng-template>

            </p-toolbar>
            <div *ngIf="findByCriteriaShow" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 p-4 border border-surface rounded-lg">


                            <div class="flex flex-col gap-2">
                                <label  class="text-sm font-semibold" for="1">{{'etatCommande.libelle' | translate}}</label>
                                <input  pInputText id="1" type="text"  [(ngModel)]="criteria.libelleLike">
                            </div>
                            <div class="flex flex-col gap-2">
                                <label  class="text-sm font-semibold" for="2">{{'etatCommande.code' | translate}}</label>
                                <input  pInputText id="2" type="text"  [(ngModel)]="criteria.codeLike">
                            </div>
                            <div class="flex flex-col gap-2">
                                <label  class="text-sm font-semibold" for="3">{{'etatCommande.style' | translate}}</label>
                                <input  pInputText id="3" type="text"  [(ngModel)]="criteria.styleLike">
                            </div>

                <div class="col-span-full flex justify-end mt-4">
                    <button pButton pRipple label="{{'validate' | translate}}" class="px-4 py-2 rounded-md" (click)="findPaginatedByCriteria()">
                        <i class="pi pi-sort-amount-down"></i> {{'validate' | translate}}
                    </button>
                </div>
            </div>

                <p-table #dt [value]="items" [columns]="cols" [rows]="8" [paginator]="false"
                         [globalFilterFields]="['libelle', 'code', 'style']" [(selection)]="selections"
                         [rowHover]="true" dataKey="id" styleClass="p-datatable-customers"
                         currentPageReportTemplate="{{'les éléments de {first} à {last} sur {totalRecords} ' | translate}}"
                         [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" selectionMode="multiple">
                    <ng-template pTemplate="caption">
                        <div class="flex flex-col md:flex-row justify-between items-center p-2 gap-4">
                            <h5 class="text-center md:text-left">{{'etatCommande.header' | translate}}</h5>
                            <span class="relative w-full md:w-auto">
                            <p-iconfield iconPosition="left" class="w-full md:w-auto">
							  <p-inputicon class="pi pi-search" />
                              <input pInputText type="text" placeholder="{{'searchInput' | translate}}"
                                     (input)="dt.filterGlobal($event.target.value, 'contains')"
                                     class="w-full md:w-72 border border-gray-300 rounded-md p-2 focus:ring focus:ring-blue-300" />
                            </p-iconfield>
						</span>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 3rem">
                                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                            </th>
                                    
                        <th pSortableColumn="libelle">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span class="mr-2">{{'etatCommande.libelle' | translate}}</span>
                                <p-sortIcon field="libelle"></p-sortIcon>
                                <p-columnFilter type="text" field="element.libelle" display="menu" class="ml-auto"></p-columnFilter>
                            </div>
                        </th>
                                
                                    
                        <th pSortableColumn="code">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span class="mr-2">{{'etatCommande.code' | translate}}</span>
                                <p-sortIcon field="code"></p-sortIcon>
                                <p-columnFilter type="text" field="element.code" display="menu" class="ml-auto"></p-columnFilter>
                            </div>
                        </th>
                                
                                    
                        <th pSortableColumn="style">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span class="mr-2">{{'etatCommande.style' | translate}}</span>
                                <p-sortIcon field="style"></p-sortIcon>
                                <p-columnFilter type="text" field="element.style" display="menu" class="ml-auto"></p-columnFilter>
                            </div>
                        </th>
                                
                            <th>Actions</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-element>
                        <tr>
                            <td>
                                <p-tableCheckbox [value]="element"></p-tableCheckbox>
                            </td>
                                    
                        <td>
                            <p-tag severity="{{element.style}}" value="{{element.libelle}}" [rounded]="true" />
                        </td>
                            
                                    
                        <td>{{element.code}}</td>
                            
                                    
                        <td>{{element.style}}</td>
                            
                            <td>
                                <button pButton pRipple icon="pi pi-pencil"  class="p-button-rounded p-button-info mr-2" (click)="edit(element)"  *ngIf="editActionIsValid"></button>
                                <button pButton pRipple icon="pi pi-list" class="p-button-rounded p-button-secondary mr-2" (click)="view(element)"  *ngIf="viewActionIsValid"></button>
                                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger mr-2" (click)="delete(element)"  *ngIf="deleteActionIsValid"></button>
                                <button pButton pRipple icon="pi pi-copy" class="p-button-rounded p-button-raised p-button-warning mr-2" (click)="duplicate(element)"  *ngIf="duplicateActionIsValid"></button>
                            </td>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="summary">
                        <p-paginator  [rows]="10" [totalRecords]="totalRecords" (onPageChange)="onPage($event)"></p-paginator>
                        <div class="p-d-flex p-ai-center p-jc-between">
                            En totale il {{items ? totalRecords == 1 ? 'y a' : 'y a' : 'y a' }} {{items ? totalRecords : 0 }} {{items ? totalRecords == 1 ? 'etat commande' : 'etat commandes' : 0 }}.
                        </div>
                    </ng-template>
                </p-table>


        </div>

            <app-etat-commande-create-admin  *ngIf="createDialog  && createActionIsValid"></app-etat-commande-create-admin>
            <app-etat-commande-edit-admin  *ngIf="editDialog  && editActionIsValid"></app-etat-commande-edit-admin>
        <app-etat-commande-view-admin  *ngIf="viewDialog  && viewActionIsValid"></app-etat-commande-view-admin>
        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    </div>
</div>

<p-card header="Permission not allowed" *ngIf="!listActionIsValid">
    <p class="m-0">
        You don't have permission to access !
    </p>
</p-card>
