    <p-dialog [(visible)]="editDialog" [style]="{width: '70vw'}" header="{{'commandeDetail.tabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
<ng-template pTemplate="content" >
        <p-tabView>
            <p-tabPanel header="{{'commandeDetail.tabPan' | translate}}">
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4 p-4">

                                <div class="flex flex-col gap-2">
                                    <label class="text-sm font-semibold" for="1">{{'commandeDetail.prix' | translate}}<span style="color: red;">*</span></label>
                                    <p-inputNumber  id="1" placeholder="{{'commandeDetail.prix' | translate}}" [(ngModel)]="item.prix" [ngClass]="{'ng-invalid ng-dirty' : !validCommandeDetailPrix}"  >
                                    </p-inputNumber>
                                    <small class="text-red-500" *ngIf='!validCommandeDetailPrix'>Prix is obligatory.</small>
                                </div>

                                <div class="flex flex-col gap-2">
                                    <label class="text-sm font-semibold" for="2">{{'commandeDetail.qte' | translate}}<span style="color: red;">*</span></label>
                                    <p-inputNumber  id="2" placeholder="{{'commandeDetail.qte' | translate}}" [(ngModel)]="item.qte" [ngClass]="{'ng-invalid ng-dirty' : !validCommandeDetailQte}"  >
                                    </p-inputNumber>
                                    <small class="text-red-500" *ngIf='!validCommandeDetailQte'>Qte is obligatory.</small>
                                </div>

                            <div class="flex flex-col gap-2">
                                <label class="text-sm font-semibold" for="3">{{'commandeDetail.commande' | translate}}<span class="text-red-500">*</span></label>
                                <p-dropdown class="w-full"  appendTo="body"  [options]="commandes" [(ngModel)]="item.commande" id="3" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" optionLabel="ref" placeholder="{{'commandeDetail.commande' | translate}}" [ngClass]="{'ng-invalid ng-dirty' : !validCommandeDetailCommande}"  >
                                </p-dropdown>
                                <small class="text-red-500" *ngIf='!validCommandeDetailCommande'>Commande is obligatory.</small>
                            </div>

                            <div class="flex flex-col gap-2">
                                <label class="text-sm font-semibold" for="4">{{'commandeDetail.produit' | translate}}<span class="text-red-500">*</span></label>
                                <p-dropdown class="w-full"  appendTo="body"  [options]="produits" [(ngModel)]="item.produit" id="4" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" optionLabel="libelle" placeholder="{{'commandeDetail.produit' | translate}}" [ngClass]="{'ng-invalid ng-dirty' : !validCommandeDetailProduit}"  >
                                </p-dropdown>
                                <small class="text-red-500" *ngIf='!validCommandeDetailProduit'>Produit is obligatory.</small>
                            </div>

                </div>
            </p-tabPanel>

        </p-tabView>

</ng-template>

<ng-template pTemplate="footer" >
    <div class="flex justify-end space-x-3 p-4">

            <button class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-primary" label="{{'validate' | translate}}"  (click)="edit()">
                <i class="pi pi-check"></i> {{'validate' | translate}}
            </button>

                <button (click)="hideEditDialog()" class="border border-gray-400 text-gray-600 hover:bg-gray-200 px-4 py-2 rounded-md">
                    <i class="pi pi-times"></i> {{'cancel' | translate}}
                </button>

    </div>
</ng-template>

    </p-dialog>
