    <p-dialog [(visible)]="editDialog" [style]="{width: '70vw'}" header="{{'commande.tabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
<ng-template pTemplate="content" >
        <p-tabView>
            <p-tabPanel header="{{'commande.tabPan' | translate}}">
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4 p-4">

                                <div class="flex flex-col gap-2">
                                    <label class="text-sm font-semibold" for="1">{{'commande.ref' | translate}}<span class="text-red-500">*</span></label>
                                    <input type="text" pInputText  placeholder="{{'commande.ref' | translate}}" id="1" [(ngModel)]="item.ref"
                                           [ngClass]="{'ng-invalid ng-dirty' : !validCommandeRef}"  />
                                    <small class="text-red-500" *ngIf='!validCommandeRef'>Ref is obligatory.</small>
                                </div>


                                <div class="flex flex-col gap-2">
                                    <label class="text-sm font-semibold" for="2">{{'commande.montant' | translate}}<span style="color: red;">*</span></label>
                                    <p-inputNumber  id="2" placeholder="{{'commande.montant' | translate}}" [(ngModel)]="item.montant" [ngClass]="{'ng-invalid ng-dirty' : !validCommandeMontant}"  >
                                    </p-inputNumber>
                                    <small class="text-red-500" *ngIf='!validCommandeMontant'>Montant is obligatory.</small>
                                </div>

                            <div class="flex flex-col gap-2">
                                <label class="text-sm font-semibold" for="3">{{'commande.etatCommande' | translate}}<span class="text-red-500">*</span></label>
                                <p-dropdown class="w-full"  appendTo="body"  [options]="etatCommandes" [(ngModel)]="item.etatCommande" id="3" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" optionLabel="libelle" placeholder="{{'commande.etatCommande' | translate}}" [ngClass]="{'ng-invalid ng-dirty' : !validCommandeEtatCommande}"  >
                                </p-dropdown>
                                <small class="text-red-500" *ngIf='!validCommandeEtatCommande'>EtatCommande is obligatory.</small>
                            </div>

                                <div class="flex flex-col gap-2">
                                    <label class="text-sm font-semibold" for="4">{{'commande.dateCommande' | translate}}</label>
                                    <p-calendar class="w-full" appendTo="body" id="4"  [showTime]="true" [showSeconds]="false" placeholder="{{'commande.dateCommande' | translate}}"  [(ngModel)]="item.dateCommande"
                                                dateFormat="{{dateFormat}}"  >
                                    </p-calendar>
                                    
                                </div>

                </div>
            </p-tabPanel>
                    <p-tabPanel header="{{'commande.commandeDetails' | translate}}">


                                <div class="grid grid-cols-1 md:grid-cols-3 gap-4 p-4">


                                                <div class="flex flex-col gap-2">
                                                    <label class="text-sm font-semibold" for="1">Prix<span class="text-red-500">*</span></label>
                                                    <p-inputNumber id="prix" placeholder="Prix"  [ngClass]="{'ng-invalid ng-dirty' : !validCommandeDetailsPrix}" [(ngModel)]="commandeDetailsElement.prix"></p-inputNumber>
                                                    <small class="text-red-500" *ngIf='!validCommandeDetailsPrix'>Prix is obligatory.</small>
                                                </div>
                                                <div class="flex flex-col gap-2">
                                                    <label class="text-sm font-semibold" for="2">Qte<span class="text-red-500">*</span></label>
                                                    <p-inputNumber id="qte" placeholder="Qte"  [ngClass]="{'ng-invalid ng-dirty' : !validCommandeDetailsQte}" [(ngModel)]="commandeDetailsElement.qte"></p-inputNumber>
                                                    <small class="text-red-500" *ngIf='!validCommandeDetailsQte'>Qte is obligatory.</small>
                                                </div>
                                                <div class="flex flex-col gap-2">
                                                    <label class="text-sm font-semibold">Produit<span class="text-red-500">*</span></label>
                                                    <p-dropdown class="w-full"  appendTo="body"  [options]="produits" [(ngModel)]="commandeDetailsElement.produit"
                                                                id="4"  [filter]="true" filterMatchMode="contains" [showClear]="true" optionLabel="libelle"
                                                                placeholder="Produit"  [ngClass]="{'ng-invalid ng-dirty' : !validCommandeDetailsProduit}" >
                                                    </p-dropdown>
                                                    <small class="text-red-500" *ngIf='!validCommandeDetailsProduit'>Produit is obligatory.</small>
                                                </div>

                                    <div class="flex justify-end md:col-span-3">
                                        <button pButton type="button" class="bg-green-500 text-white px-4 py-2 rounded-md hover:bg-green-700" (click)="addCommandeDetails()">
                                            <i class="pi pi-plus"></i> OK
                                        </button>
                                    </div>

                                </div>


                                <div class="card p-4">
                                    <p-table [value]="item.commandeDetails" [scrollable]="true" scrollHeight="200px">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                            <th>Prix</th>
                                                            <th>Qte</th>
                                                            <th>Produit</th>
                                                <th>Actions</th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-p let-i="rowIndex">
                                            <tr>
                                                            <td>{{p.prix}}</td>
                                                            <td>{{p.qte}}</td>
                                                        <td>{{p.produit?.libelle}}</td>
                                                <td>
                                                    <p-button (click)="deleteCommandeDetails(p,i)" pButton type="button" icon="pi pi-times" severity="danger"  [rounded]="true"  class="mr-2"></p-button>
                                                    <p-button (click)="editCommandeDetails(p,i)" pButton type="button" icon="pi pi-pencil" severity="success"  [rounded]="true" class="mr-2"></p-button>
                                                </td>
                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </div>


                    </p-tabPanel>


        </p-tabView>

</ng-template>

<ng-template pTemplate="footer" >
    <div class="flex justify-end space-x-3 p-4">

            <button class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-primary" label="{{'validate' | translate}}"  (click)="edit()">
                <i class="pi pi-check"></i> {{'validate' | translate}}
            </button>

                <button (click)="hideEditDialog()" class="border border-gray-400 text-gray-600 hover:bg-gray-200 px-4 py-2 rounded-md">
                    <i class="pi pi-times"></i> {{'cancel' | translate}}
                </button>

    </div>
</ng-template>

    </p-dialog>
